body{
    margin: 0;
}

.app{
    min-height: 100vh;
}

.dark{
    background-color: darkgray;
}

.light{
    background-color: white;
}

.header{
    display: flex;
    align-items: end;
    border-bottom: solid black 1px;
    padding: 5px;
    height: 10vh;
}

form{
    display: flex;
    flex-direction: column;
}