*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app{
    min-height: 100vh;
}

.Dark{
    background-color: darkgray;
}

.Light{
    background-color: white;
}

.header{
    display: flex;
    align-items: end;
    border-bottom: solid black 1px;
    padding: 5px;
    height: 10vh;
}